/* Figma Styles of your File */
:root {
  /* Colors */
  --colorstykes-deepteal: #007c92;
  --colorstykes-25-black: rgba(0, 0, 0, 0.25);
  --colorstykes-20-deepteal: rgba(0, 124, 146, 0.25);
  --colorstykes-maroon: #990000;
  --colorstykes-silvergray: #b5b4b4;
  --colorstykes-charcoal: #333333;
  --colorstykes-mustard: #fdf5e6;
  --colorstykes-slategray: #566370;
  --colorstykes-jet: #181818;
  --colorstykes-platinum: #eff1f1;
  --colorstykes-snow-drift: #f7f9f9;
  --colorstykes-darkcharcoal: #16181c;

  /* Fonts */

  /* Effects */
}
